In [1]:
import pandas as pd

In [2]:
food_data = pd.read_csv('./df/CleanFoodData.csv', sep=',')
food_data.rename(columns={'Mean': 'Mean_Food.g'}, inplace=True)
food_data['Mean_CO2.g'] = [0] * len(food_data) # Initialize column for CO2
food_data.head(3)

   Country Pop_Class    Food  ID  Nr_Consumer  Mean_Food.g  Mean_CO2.g
0  Austria    Adults  banana   1          105    37.134740           0
1  Austria    Adults  almond   2            8     0.344156           0
2  Austria    Adults   apple   3          213    90.806006           0

In [3]:
co2_data = pd.read_csv('./df/CO2Footprint.csv', sep=',', index_col = 0)
co2_data['Grams.CO2e.per.Grams'] = co2_data['Grams.CO2e.per.Serving']/co2_data['Serving.Size'] # Created column for CO2/grams of food
co2_data.head(3)

,Food,Category,Serving.Size,Calories.per.Serving,Grams.CO2e.per.Serving,Grams.CO2e.per.kcal,Grams.CO2e.per.Grams
ID,,,,,,,
1,banana,Fruit,140.0,112,738.4,3.7,5.274286
2,almond,Nut/Seed/Legume,30.0,172,166.1,1.0,5.536667
3,apple,Fruit,140.0,80,106.7,1.3,0.762143

In [6]:
for iFood, foodRow in food_data.iterrows():
    for co2Id, co2Row in co2_data.iterrows():
        if co2Id == foodRow['ID']:
            food_data.loc[iFood,'Mean_CO2.g'] = foodRow['Mean_Food.g']*co2Row['Grams.CO2e.per.Grams']
            break
food_data

,Country,Pop_Class,Food,ID,Nr_Consumer,Mean_Food.g,Mean_CO2.g
0,Austria,Adults,banana,1,105,37.134740,195.859230
1,Austria,Adults,almond,2,8,0.344156,1.905476
2,Austria,Adults,apple,3,213,90.806006,69.207149
3,Austria,Adults,apricot,4,7,1.209416,0.668634
4,Austria,Adults,artichokes,5,2,0.659091,1.613610
5,Austria,Adults,asparagus,6,4,0.691558,2.403369
6,Austria,Adults,avocado,7,3,0.618912,1.400805
7,Austria,Adults,barley,8,1,0.181818,0.126465
8,Austria,Adults,beef,9,32,7.826299,68.368309
9,Austria,Adults,pepper,10,66,10.405195,9.768642
10,Austria,Adults,blueberries,11,4,0.775974,2.152219
11,Austria,Adults,broccoli,12,10,1.890422,1.723620
12,Austria,Adults,chicken,13,72,18.953003,47.449010
13,Austria,Adults,butter,15,156,7.926542,44.067140
14,Austria,Adults,cabbage,16,36,6.662338,2.171138
15,Austria,Adults,carrot,18,45,7.511364,3.084078
16,Austria,Adults,cauliflower,19,6,1.496753,1.461536
17,Austria,Adults,celery,20,2,0.456169,0.215741
18,Austria,Adults,cheese,21,353,35.621429,318.302908
19,Austria,Adults,cocoa,22,56,2.758766,4.027799
20,Austria,Adults,corn,25,22,2.058442,2.679650
21,Austria,Adults,cranberries,27,3,0.209416,0.459572
22,Austria,Adults,cucumber,28,40,7.095779,3.756589
23,Austria,Adults,beans,29,33,6.568182,16.176494
24,Austria,Adults,eggplant,30,5,0.805195,0.599633
25,Austria,Adults,egg,31,73,9.774351,29.054257
26,Austria,Adults,figs,32,2,0.084578,0.035221
27,Austria,Adults,fish,33,34,6.825649,25.676852
28,Austria,Adults,garlic,35,8,0.060065,0.088496
29,Austria,Adults,grapefruit,36,3,1.555195,0.295487
...,...,...,...,...,...,...,...
5222,Sweden,Adolescents,lamb,42,6,0.177800,2.195045
5223,Sweden,Adolescents,lettuce,44,77,0.478798,0.259114
5224,Sweden,Adolescents,milk,47,2665,443.701791,343.314261
5225,Sweden,Adolescents,olive oil,50,9,0.057466,0.397035
5226,Sweden,Adolescents,olives,51,14,0.139489,0.148788
5227,Sweden,Adolescents,onion,52,81,0.462590,0.182315
5228,Sweden,Adolescents,orange,53,230,16.765588,4.766217
5229,Sweden,Adolescents,peach,56,8,0.347495,0.284698
5230,Sweden,Adolescents,peanuts,57,7,0.032662,0.079369
5231,Sweden,Adolescents,pear,58,84,5.119679,2.351395
5232,Sweden,Adolescents,pineapple,62,23,0.692534,0.326480
5233,Sweden,Adolescents,pistachio,63,2,0.021857,0.176455
5234,Sweden,Adolescents,plum,64,2,0.059676,0.030989
5235,Sweden,Adolescents,pork,65,1017,21.993772,174.850488
5236,Sweden,Adolescents,potato,66,1709,109.967653,19.594236
5237,Sweden,Adolescents,raspberries,68,32,0.191880,0.312489
5238,Sweden,Adolescents,sugar,69,1010,14.394127,10.435742
5239,Sweden,Adolescents,coffee,70,22,1.073183,8.687861
5240,Sweden,Adolescents,peas,71,69,0.622544,0.804913
5241,Sweden,Adolescents,spinach,75,32,0.669614,0.645980
5242,Sweden,Adolescents,strawberries,76,22,0.413310,0.904264
5243,Sweden,Adolescents,sweet corn,79,142,2.071546,1.140569
5244,Sweden,Adolescents,grape,81,55,1.407171,1.047337
5245,Sweden,Adolescents,tomato,83,815,11.170326,11.538289
5246,Sweden,Adolescents,turkey,84,10,0.241650,0.670795
5247,Sweden,Adolescents,walnuts,85,1,0.004912,0.025540
5248,Sweden,Adolescents,watermelon,86,10,0.658399,0.156370
5249,Sweden,Adolescents,wheat,87,4914,152.216428,73.063886
5250,Sweden,Adolescents,wheat flour,88,755,17.247741,12.073418
5251,Sweden,Adolescents,rice,89,704,33.752362,69.679876

In [12]:
countries = list(food_data['Country'].unique())
#ageGroup =list(data['Pop_Class'].unique())
countries_df = pd.DataFrame(data=countries, columns=["Country"])
countries_df

         countries
0          Austria
1          Belgium
2         Bulgaria
3           Cyprus
4   Czech Republic
5          Germany
6          Denmark
7            Spain
8          Finland
9           France
10  United Kingdom
11          Greece
12         Hungary
13         Ireland
14           Italy
15          Latvia
16     Netherlands
17         Romania
18          Sweden

In [ ]:
for i, ID in 
IDs = list(data['ID'])
IDs

In [ ]:
for country in countries:
    total = 0
    for age in ageGroup:
        (subTotal = subTotal + data[] for

In [ ]:
len(co2_data)