In [2]:
import pandas as pd

In [3]:
food_data = pd.read_csv('./df/CleanFoodData.csv', sep=',')
food_data.rename(columns={'Mean': 'Mean_Food.g'}, inplace=True)
food_data['Mean_CO2.g'] = [0] * len(food_data) # Initialize column for CO2
food_data.head(3)

   Country Pop_Class    Food  ID  Nr_Consumer  Mean_Food.g  Mean_CO2.g
0  Austria    Adults  banana   1          105    37.134740           0
1  Austria    Adults  almond   2            8     0.344156           0
2  Austria    Adults   apple   3          213    90.806006           0

In [4]:
co2_data = pd.read_csv('./df/CO2Footprint.csv', sep=',', index_col = 0)
co2_data['Grams.CO2e.per.Grams'] = co2_data['Grams.CO2e.per.Serving']/co2_data['Serving.Size'] # Created column for CO2/grams of food
co2_data.head(3)

,Food,Category,Serving.Size,Calories.per.Serving,Grams.CO2e.per.Serving,Grams.CO2e.per.kcal,Grams.CO2e.per.Grams
ID,,,,,,,
1,banana,Fruit,140.0,112,738.4,3.7,5.274286
2,almond,Nut/Seed/Legume,30.0,172,166.1,1.0,5.536667
3,apple,Fruit,140.0,80,106.7,1.3,0.762143

In [41]:
for iFood, foodRow in food_data.iterrows():
    for co2Id, co2Row in co2_data.iterrows():
        if co2Id == foodRow['ID']:
            food_data.loc[iFood,'Mean_CO2.g'] = foodRow['Mean_Food.g']*co2Row['Grams.CO2e.per.Grams']
            break
food_data.head()

   Country Pop_Class        Food  ID  Nr_Consumer  Mean_Food.g  Mean_CO2.g
0  Austria    Adults      banana   1          105    37.134740  195.859230
1  Austria    Adults      almond   2            8     0.344156    1.905476
2  Austria    Adults       apple   3          213    90.806006   69.207149
3  Austria    Adults     apricot   4            7     1.209416    0.668634
4  Austria    Adults  artichokes   5            2     0.659091    1.613610

In [50]:
countries = list(food_data['Country'].unique())
ageGroup =list(food_data['Pop_Class'].unique())
countries_df = pd.DataFrame([[0]*3]* len(food_data['Pop_Class'].unique()) * len(food_data['Country'].unique()), columns=["Country", "ageGroup","Mean_CO2.g"])
i = 0
for country in countries:
    for age in ageGroup:
        countries_df.loc[i,'Country'] = country
        countries_df.loc[i,'ageGroup'] = age
        i+=1
        
countries_df

         Country         ageGroup  Mean_CO2.g
0        Austria           Adults           0
1        Austria          Elderly           0
2        Austria     Very elderly           0
3        Austria   Other children           0
4        Austria      Adolescents           0
5        Austria         Toddlers           0
6        Austria          Infants           0
7        Austria  Lactating women           0
8        Austria   Pregnant women           0
9        Belgium           Adults           0
10       Belgium          Elderly           0
11       Belgium     Very elderly           0
12       Belgium   Other children           0
13       Belgium      Adolescents           0
14       Belgium         Toddlers           0
15       Belgium          Infants           0
16       Belgium  Lactating women           0
17       Belgium   Pregnant women           0
18      Bulgaria           Adults           0
19      Bulgaria          Elderly           0
20      Bulgaria     Very elderly           0
21      Bulgaria   Other children           0
22      Bulgaria      Adolescents           0
23      Bulgaria         Toddlers           0
24      Bulgaria          Infants           0
25      Bulgaria  Lactating women           0
26      Bulgaria   Pregnant women           0
27        Cyprus           Adults           0
28        Cyprus          Elderly           0
29        Cyprus     Very elderly           0
..           ...              ...         ...
141       Latvia          Infants           0
142       Latvia  Lactating women           0
143       Latvia   Pregnant women           0
144  Netherlands           Adults           0
145  Netherlands          Elderly           0
146  Netherlands     Very elderly           0
147  Netherlands   Other children           0
148  Netherlands      Adolescents           0
149  Netherlands         Toddlers           0
150  Netherlands          Infants           0
151  Netherlands  Lactating women           0
152  Netherlands   Pregnant women           0
153      Romania           Adults           0
154      Romania          Elderly           0
155      Romania     Very elderly           0
156      Romania   Other children           0
157      Romania      Adolescents           0
158      Romania         Toddlers           0
159      Romania          Infants           0
160      Romania  Lactating women           0
161      Romania   Pregnant women           0
162       Sweden           Adults           0
163       Sweden          Elderly           0
164       Sweden     Very elderly           0
165       Sweden   Other children           0
166       Sweden      Adolescents           0
167       Sweden         Toddlers           0
168       Sweden          Infants           0
169       Sweden  Lactating women           0
170       Sweden   Pregnant women           0

[171 rows x 3 columns]

In [54]:
for index, countryRow in countries_df.iterrows():
    countries_df.loc[index, 'Mean_CO2.g'] = 0
    for iFood, foodRow in food_data.iterrows():
        if foodRow['Country'] == countryRow['Country'] and foodRow['Pop_Class'] == countryRow['ageGroup']:
            countries_df.loc[index, 'Mean_CO2.g'] = countries_df.loc[index, 'Mean_CO2.g'] + foodRow['Mean_CO2.g']
countries_df

         Country         ageGroup    Mean_CO2.g
0        Austria           Adults   3289.682481
1        Austria          Elderly   2965.835759
2        Austria     Very elderly   3230.623486
3        Austria   Other children   1693.792945
4        Austria      Adolescents   1339.124240
5        Austria         Toddlers      0.000000
6        Austria          Infants      0.000000
7        Austria  Lactating women      0.000000
8        Austria   Pregnant women      0.000000
9        Belgium           Adults   4509.391190
10       Belgium          Elderly   5412.777548
11       Belgium     Very elderly   4974.666498
12       Belgium   Other children   1221.226985
13       Belgium      Adolescents   1902.822307
14       Belgium         Toddlers   1340.160102
15       Belgium          Infants      0.000000
16       Belgium  Lactating women      0.000000
17       Belgium   Pregnant women      0.000000
18      Bulgaria           Adults      0.000000
19      Bulgaria          Elderly      0.000000
20      Bulgaria     Very elderly      0.000000
21      Bulgaria   Other children   1161.548116
22      Bulgaria      Adolescents      0.000000
23      Bulgaria         Toddlers   1031.931628
24      Bulgaria          Infants    401.665218
25      Bulgaria  Lactating women      0.000000
26      Bulgaria   Pregnant women      0.000000
27        Cyprus           Adults      0.000000
28        Cyprus          Elderly      0.000000
29        Cyprus     Very elderly      0.000000
..           ...              ...           ...
141       Latvia          Infants      0.000000
142       Latvia  Lactating women      0.000000
143       Latvia   Pregnant women   2575.550849
144  Netherlands           Adults   9734.776082
145  Netherlands          Elderly  11841.828160
146  Netherlands     Very elderly   4771.625438
147  Netherlands   Other children   2207.314722
148  Netherlands      Adolescents   1589.184784
149  Netherlands         Toddlers    954.069799
150  Netherlands          Infants      0.000000
151  Netherlands  Lactating women      0.000000
152  Netherlands   Pregnant women      0.000000
153      Romania           Adults   2541.757607
154      Romania          Elderly   2203.908488
155      Romania     Very elderly   2129.980689
156      Romania   Other children      0.000000
157      Romania      Adolescents      0.000000
158      Romania         Toddlers      0.000000
159      Romania          Infants      0.000000
160      Romania  Lactating women      0.000000
161      Romania   Pregnant women      0.000000
162       Sweden           Adults   9715.818646
163       Sweden          Elderly   4951.107870
164       Sweden     Very elderly   4300.488264
165       Sweden   Other children   1199.259789
166       Sweden      Adolescents   1231.323851
167       Sweden         Toddlers      0.000000
168       Sweden          Infants      0.000000
169       Sweden  Lactating women      0.000000
170       Sweden   Pregnant women      0.000000

[171 rows x 3 columns]

In [55]:
countries_df.to_csv("./CO2_per_country_ageGroup.csv", header=True, sep=',', index=False)